<div class="nav-actions">
    <a href="/findGig" class="nav-btn">Find Gig</a>
    <a href="/findPitch" class="nav-btn">Find Pitch</a>
    <a href="/map" class="nav-btn">Map</a>
    <a href="/postGig" class="nav-btn">Post Gig</a>
    <a href="/postPitch" class="nav-btn">Post Pitch</a>
</div>