<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/home">
            <img src="/img/logo.png" alt="OtterGigs" class="site-logo" />
        </a>

        <div class="navbar-controls">
            <%- include("navActions.ejs") %>
            <a href="/logout" class="btn btn-outline-light">Logout</a>
        </div>
    </div>
</nav>
