<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>OtterGigs | Welcome</title>
</head>
<body class="page-home">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/home">
            <img src="/img/logo.png" alt="OtterGigs" class="site-logo"/>
        </a>
    </div>
</nav>

<div class="row">

</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <h1>Welcome to OtterGigs!</h1>
            <p class="lead mb-2">A local creative gig board for students, artists, and community opportunities.</p>
        </div>
        <div class="col">
            <div class="card p-3">
                <h3 class="card-title">Login</h3>

                <div id="feedbackDiv" class="mb-2"></div>

                <form id="loginForm" action="/login" method="POST" class="mt-3">
                    <div class="mb-3">
                        <label for="username">Username:</label>
                        <input type="text" name="username" id="username" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-primary">Login</button>
                    <a href="/signup" class="btn btn-secondary">Sign Up</a>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="js/login.js"></script>
</body>
</html>
