<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
</head>
<body>

<div class="container mt-5">
    <h1>Create Account</h1>

    <div id="feedbackDiv" class="mb-2"></div>

    <form id="signupForm" action="/signup" method="POST" class="mt-4">
        <div class="mb-3">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" class="form-control">
        </div>

        <div class="mb-3">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" class="form-control">
        </div>

        <button type="submit" class="btn btn-success">Create Account</button>
        <a href="/" class="btn btn-secondary">Back to Login</a>
    </form>
</div>

<script src="js/signup.js"></script>
</body>
</html>
